﻿@page "/login"
@using System.Text.RegularExpressions

@inject NavigationManager NavManager
@inject IUserHandler UserHandler
@inject ProtectedLocalStorage LocalStorage
@inject IUserRepository UserRepository

<PageTitle>Login</PageTitle>
<h3 class="text-center pt-5">Login</h3>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 shadow p-3 mb-5 bg-white rounded">
            <div class="col-md-12 justify-content-center align-items-center">
                @if (!string.IsNullOrEmpty(UserHandler.User.Username)) {
                    <p>Looks like you are already logged in.</p>
                }
                else {
                    <EditForm class="form mt-4" Model="User" OnSubmit="async () => await LoginAsync()">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="registerUsername" class="lead form-label m-0">Username or Email</label>
                                <label for="registerUsername" class="text-danger form-label m-0">@UsernameMessage</label>
                                <InputText id="registerUsername" class="form-text form-control form-control-sm" @bind-Value="NameOrEmail" style="border-radius: 3em; border-color: black"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label for="registerPassword" class="lead form-label m-0">Password</label>
                                <label for="registerPassword" class="text-danger form-label m-0">@PasswordMessage</label>
                                <InputText id="registerPassword" type="password" class="form-text form-control form-control-sm" @bind-Value="User.Password" style="border-radius: 3em; border-color: black"/>
                            </div>
                        </div>
                        <div class="form-row m-4">
                            <button type="submit" class="lead btn text-dark float-end"><h5>Login</h5></button>
                            <a href="register" class="lead text-decoration-none text-dark float-end">
                                <button class="lead btn text-dark float-end"><h5>Sign up</h5></button>
                            </a>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {

    public User User { get; set; } = new();

    public string NameOrEmail { get; set; } = "";

    private string UsernameMessage { get; set; } = "";
    private string PasswordMessage { get; set; } = "";

    private CancellationTokenSource cts = new();

    private async Task LoginAsync() {
        UsernameMessage = "";
        PasswordMessage = "";
        if (string.IsNullOrEmpty(NameOrEmail) || string.IsNullOrWhiteSpace(NameOrEmail)) {
            UsernameMessage = "Username or Email is Required";
            return;
        }
        if (string.IsNullOrEmpty(User.Password) || string.IsNullOrWhiteSpace(User.Password)) {
            PasswordMessage = "Password is required";
            return;
        }

        bool IsEmail;
        if ((Regex.Match(NameOrEmail, @"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$")).Success) {
            if ((await UserRepository.ReadAsync(u => u.Email == NameOrEmail, cts.Token)).Any()) {
                IsEmail = true;
            }
            else {
                UsernameMessage = "Email not registered";
                return;
            }
        }
        else {
            if ((await UserRepository.ReadAsync(u => u.Username == NameOrEmail, cts.Token)).Any()) {
                IsEmail = false;
            }
            else {
                UsernameMessage = "Username not registered";
                return;
            }
        }
        if (IsEmail) {
            if (!(await UserRepository.ReadAsync(u => u.Email == NameOrEmail && u.Password == User.Password, cts.Token)).Any()) {
                PasswordMessage = "Password is invalid";
                return;
            }
        }
        else {
            if (!(await UserRepository.ReadAsync(u => u.Username == NameOrEmail && u.Password == User.Password, cts.Token)).Any()) {
                PasswordMessage = "Password is invalid";
                return;
            }
        }
        User user;
        if (IsEmail) {
            user = (await UserRepository.ReadAsync(u => u.Email == NameOrEmail, cts.Token)).First();
            NavManager.NavigateTo("/");
        }
        else {
            user = (await UserRepository.ReadAsync(u => u.Username == NameOrEmail, cts.Token)).First();
            NavManager.NavigateTo("/");
        }
        await LocalStorage.SetAsync("Id", user.Id.ToString());

        UserHandler.User = user;
        UserHandler.NotifyDataChange();
    }

}