﻿@page "/register"

@inject IUserRepository UserRepository
@inject IUserHandler UserHandler
@inject NavigationManager NavManager
@inject ProtectedLocalStorage LocalStorage

<PageTitle>Register</PageTitle>
<h3 class="text-center pt-5">Register</h3>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 shadow p-3 mb-5 bg-white rounded">
            <div class="col-md-12 justify-content-center align-items-center">

                @if (!string.IsNullOrEmpty(UserHandler.User.Username)) {
                    <h1>Looks like you are already logged in.</h1>
                }
                else {
                    <EditForm class="form mt-4" Model="User" OnValidSubmit="async () => await HandleRegisterAsync()">
                        <DataAnnotationsValidator/>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="registerUsername" class="lead form-label m-0">Username</label>
                                <label for="registerUsername" class="text-danger form-label m-0">@UsernameMessage</label>
                                <ValidationMessage For="() => User.Username"/>
                                <InputText id="registerUsername" class="form-text form-control form-control-sm" @bind-Value="User.Username" style="border-radius: 3em; border-color: black"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label for="mail" class="lead form-label m-0">E-Mail</label>
                                <label for="registerUsername" class="text-danger form-label m-0">@EmailMessage</label>
                                <ValidationMessage For="() => User.Email"/>
                                <InputText id="mail" type="email" class="form-text form-control form-control-sm" @bind-Value="User.Email" style="border-radius: 3em; border-color: black"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col">
                                <label for="registerPassword" class="lead form-label m-0">Password</label>
                                <ValidationMessage For="() => User.Password"/>
                                <InputText id="registerPassword" type="password" class="form-text form-control form-control-sm" @bind-Value="User.Password" style="border-radius: 3em; border-color: black"/>
                            </div>
                        </div>
                        <div class="form-row m-4">
                            <button type="submit" class="lead btn text-dark float-end">
                                <h5>Register</h5>
                            </button>
                            <a href="login" class="lead text-decoration-none text-dark float-end">
                                <button class="lead btn text-dark float-end">
                                    <h5>Login</h5>
                                </button>
                            </a>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private UserDTO User { get; set; } = new();

    private CancellationTokenSource cts = new();

    public string UsernameMessage { get; set; }
    public string EmailMessage { get; set; }

    private async Task HandleRegisterAsync() {
        if ((await UserRepository.ReadAsync(u => u.Email == User.Email, cts.Token)).Any()) {
            EmailMessage = "Email is already registered";
            return;
        }
        if ((await UserRepository.ReadAsync(u => u.Username == User.Username, cts.Token)).Any()) {
            UsernameMessage = "Username is already registered";
            return;
        }
        // Create User and Join-table
        var _user = await UserRepository.CreateAsync(new User {
            Username = User.Username,
            Email = User.Email,
            Password = User.Password,
            CreatedAt = DateTime.Now
        }, cts.Token);
        User = new UserDTO();
        await LocalStorage.SetAsync("Id", _user.Id.ToString());
        NavManager.NavigateTo("/");

        UserHandler.User = _user;
        UserHandler.NotifyDataChange();
    }
}