﻿@inherits LayoutComponentBase
@inject IUserHandler UserHandler

<PageTitle>WebGUI</PageTitle>

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.White"
     ThemeContrast="ThemeContrast.None">
    <BarBrand class="ms-5 text-light">
        <a href="" Match="NavLinkMatch.All">
            <img class="ms-5" src="images/Logo.png" height="50" width="100">
        </a>
    </BarBrand>
    <BarToggler/>
    <BarMenu>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <BarItem class="m-5 float-end">
                        <NavLink class="nav-link text-dark" href="users">
                            <h3>
                                <b>Community</b>
                            </h3>
                        </NavLink>
                    </BarItem>
                </div>
                <div class="col-3">
                    <BarItem class="m-5 float-end">
                        <NavLink class="nav-link text-dark" href="movies">
                            <h3>
                                <b>Movie List</b>
                            </h3>
                        </NavLink>
                    </BarItem>
                </div>
                <div class="col-3">
                    <BarItem class="m-5 float-end">
                        @if (UserHandler.User.Id is not 0) {
                            <NavLink class="nav-link text-dark" href=@($"profile/{UserHandler.User.Id}")>
                                <h3>
                                    <b>Profile</b>
                                </h3>
                            </NavLink>
                        }
                        else {
                            <NavLink class="nav-link text-dark" href="login">
                                <h3>
                                    <b>Profile</b>
                                </h3>
                            </NavLink>
                        }
                    </BarItem>
                </div>
                <div class="col-3">
                    <BarItem class="my-5 float-end">
                        @if (!string.IsNullOrEmpty(UserHandler.User.Username)) {
                            <Button>
                                <a href="logout" class="text-decoration-none text-dark">
                                    <h3><b>Logout</b></h3>
                                </a>
                            </Button>
                        }
                        else {
                            <Button>
                                <a href="login" class="text-decoration-none text-dark">
                                    <h3><b>Log in</b></h3>
                                </a>
                            </Button>
                        }
                    </BarItem>
                </div>
            </div>
        </div>
    </BarMenu>
</Bar>

<article class="mt-5 min-vh-100">
    @Body
</article>

<footer class="footer bg-dark text-center text-lg-start text-light mt-auto">
    <!-- Copyright -->
    <div class="text-center p-3">
        © 2022 Copyright:
        <a class="text-primary" href="/">MotionPictures GmbH</a>
    </div>
    <!-- Copyright -->
</footer>

@code {

    protected override void OnInitialized() {
        UserHandler.DataChange += StateHasChanged;
    }

}