﻿@page "/"
@namespace WebGUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<script>
function toTheMoon(){
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<component type="typeof(App)" render-mode="Server"/>