@page "/"
@inject IUserHandler UserHandler
@inject ITitleRepository _repository
@inject HttpClient _http
@using Newtonsoft.Json.Linq
@implements IDisposable
<PageTitle>Homepage</PageTitle>

<style>
    .slogan {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 70px;
    }
</style>
<div class="containermain" style="display: flex; justify-content: space-evenly; width: 80%; margin: auto">
    <div style="width: 50%">
        <span class="slogan">Let's keep<br/>on watching!</span>
    </div>
    <div class="container" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; width: 50%">

        @if (_titlePage != null) {
            @foreach (var element in _titlePage) {
                <div style=" width: 100%; cursor: pointer; margin-bottom: 5%">
                    @{
                        if (element.Image == null) {
                            OnApiCall(element);
                            <a href="movies/@element.Tconst"><img src="images/default-movie-cover.png" class="card-img-top" alt="..." draggable="false"/></a>
                        }
                        else {
                            <a href="movies/@element.Tconst"><img src="@element.Image" class="card-img-top" alt="..." draggable="false"/></a>
                        }
                    }
                </div>
            }
            <div>

            </div>
        }
    </div>
</div>


@code {
        List<Title>? _titlePage;
        private const int Start = 1;
        private const int Count = 3;
        private const string? Filter = "release";

    protected override async Task OnInitializedAsync() {
        UserHandler.DataChange += StateHasChanged;
        _titlePage = await _repository.ReadPageAsync(Start, Count, Filter);
    }

    public void Dispose() {
        UserHandler.DataChange -= StateHasChanged;
    }

    private async Task OnApiCall(Title title) {
        var jsonString = await _http.GetStringAsync($"http://www.omdbapi.com/?apikey=d3e78391&i={title.Tconst}&plot=full");
        dynamic data = JObject.Parse(jsonString);

        if (data.Response == "False") {
            title.Image = "images/default-movie-cover.png";
            title.Description = "There is no information about this movie!";
        }
        else {
            title.Image = data.Poster;
            title.Description = data.Plot;
        }
        await _repository.UpdateAsync(title, CancellationToken.None);
    }

}