﻿@page "/movies"
@inject ITitleRepository Repository
@inject IJSRuntime Js
@using Newtonsoft.Json.Linq
@inject HttpClient Http

<style>
    img{
        object-fit: cover;
    }
    .title {
        width: 80%;
        white-space: nowrap;     
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        display: block;
    }
    .ra {
        width: 20%;
        display: block;
        float: left;
    }
</style>

@if (_titlePage != null) {
    <div class="container start">
        <div class="row">
            <div class="form w-75">
                <input class="form-control" type="text" placeholder="Search..."
                       @onchange="async (s) => {Start = 0;Page = 0;await OnUpdatePage(s.Value.ToString(), Filter);}">
            </div>
            <div class="form w-25">
                <select name="sort-criteria" class="form-select" @onchange="async (f) => {Start = 0;Page = 0;await OnUpdatePage(Input, f.Value.ToString());}">
                    <option value="score">Best Score</option>
                    <option value="popularity">Most Popular</option>
                    <option value="release">Latest</option>
                </select>
            </div>
        </div>
        <div class="row">
            @foreach (var element in _titlePage) {
                <div class="col-4">
                    <div class="card mt-5 border-0" style="width: 25rem; cursor: pointer">
                        @{
                            if (element.Image == null) {
                                OnApiCall(element);
                                <img src="images/default-movie-cover.png" class="card-img-top" alt="..." style="height: 20rem" draggable="false">
                            }
                            else {
                                <img src="@element.Image" class="card-img-top" alt="..." style="height: 20rem" draggable="false">
                            }
                        }
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="movies/@element.Tconst" class="text-decoration-none text-dark">
                                    <div title="@element.Name" class="title">@element.Name</div>
                                </a>
                                <div class="ra">
                                    @element.Rating.AvgScore <i class="bi bi-star-fill text-warning"></i>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="my-3 d-inline bi bi-chevron-left btn"
                @onclick="async () => {Start -= 9;Page -= 1;await OnUpdatePage(Input, Filter);await ToTheMoon();}"
                disabled="@(Page == 0)">
        </button>
        <button class="my-3 bi bi-chevron-right float-end btn"
                @onclick="async () => {Start += 9;Page += 1;await OnUpdatePage(Input, Filter);await ToTheMoon();}"
                disabled="@(_titlePage.Count - Count < 0)">
        </button>
    </div>
}
else {
    <div class="row">
        <div class="col">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}

@code {
    List<Title>? _titlePage;
    private int Start { get; set; }
    private int Page { get; set; }
    private const int Count = 9;
    private string? Input { get; set; }
    private string? Filter { get; set; }

    protected override async Task OnInitializedAsync() {
        _titlePage = await Repository.ReadPageAsync(Start, Count, Filter);
    }

    private async Task OnUpdatePage(string? input, string? filter) {
        Input = input;
        Filter = filter;
        if (input == null) {
            _titlePage = await Repository.ReadPageAsync(Start, Count, Filter);
        }
        else {
            _titlePage = await Repository.SearchTitleAsync(Input, Start, Count, Filter);
        }
    }

    private async Task ToTheMoon() {
        await Js.InvokeVoidAsync("toTheMoon");
    }

    private async Task OnApiCall(Title title) {
        var jsonString = await Http.GetStringAsync($"http://www.omdbapi.com/?apikey=d3e78391&i={title.Tconst}&plot=full");
        dynamic data = JObject.Parse(jsonString);

        if (data.Response == "False") {
            title.Image = "images/default-movie-cover.png";
            title.Description = "There is no information about this movie!";
        }
        else {
            title.Image = data.Poster;
            title.Description = data.Plot;
        }
        await Repository.UpdateAsync(title, CancellationToken.None);
    }
}