﻿@page "/profile/{ProfileId:int}"
@inject IUserHandler UserHandler
@inject IUserRepository Repository
@inject NavigationManager NavManager;

<style>
    h1 svg {
        margin-left: 10px;
    }
    .lists svg{
        transform:scale(4);
        margin: 25px 0 25px 0;
    }
    .lists{
        text-align: center;
    }
    h3{
        text-align: left;
        
    }
    .diffProfilePic{
        display:grid;
        object-fit: cover;
        height: 320px;
        width: 320px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .profilePic{
        display:grid;
        object-fit: cover;
        height: 320px;
        width: 320px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .profilePic:hover {
        filter: brightness(50%);
    }
    .profilePic + svg {
        margin-top:-350px;
        filter:invert(100%);
        visibility: hidden;
    }
   
    .profilePic:hover + svg {
        visibility: visible;
    }
    .description{
        margin-bottom: 25px;
    }
 
</style>

@if (User is not null) {
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex justify-content-center text-center">
                @{
                    CurrentPath = Directory.GetFiles("wwwroot/images/users/", User?.Id + ".*");
                }
                @if (CurrentPath.Length > 0) {
                    <div>
                        <label for="pppicker">
                            @if (UserHandler.User.Id == User?.Id) {
                                <img src="@CurrentPath[0].Remove(0, 8)" class="profilePic" alt="..." draggable="false"/>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            }
                            else {
                                <img src="@CurrentPath[0].Remove(0, 8)" class="diffProfilePic" alt="..." draggable="false"/>
                            }
                        </label>
                    </div>
                }
                else {
                    <label for="pppicker">
                        @if (UserHandler.User.Id == User?.Id) {
                            <img src="images/default-profile-picture.png" class="profilePic" alt="..." draggable="false"/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        }
                        else {
                            <img src="images/default-profile-picture.png" class="diffProfilePic" alt="..." draggable="false"/>
                        }
                        </label>
                }
                @if (UserHandler.User.Id == User?.Id) {
                    <InputFile OnChange="@InputFile" id="pppicker" style="display:none"/>
                }
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            @User?.Username
                            @if (UserHandler.User.Id == User?.Id) {
                                <svg @onclick="ShowModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                </svg>
                            }
                        </h1>
                    </div>
                    <div class="col-12 description">
                        <h4>
                            @User?.AboutMe
                        </h4>
                    </div>
                    <div class="col-12">
                        <h3>My Lists</h3>
                    </div>
                   <div class="row">
                                       <div class="col-2 lists" onclick="window.location.href = window.location.href + '/userlist?type=planned';">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                               <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                           </svg>
                                           <h5>Planned</h5>
                                       </div>
                                       <div class="col-2 lists" onclick="window.location.href = window.location.href + '/userlist?type=completed';">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                               <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                               <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                           </svg>
                                           <h5>Watched</h5>
                                       </div>
                                   </div>
                </div>
            </div>
        </div>
    </div>
    <Modal @ref="profileModal">
        <ModalContent Centered>
            <EditForm Model="User" OnSubmit="async () => await ChangeProfileData()">
                <ModalHeader>
                    <ModalTitle>Profile settings</ModalTitle>
                    <button type="button" class="btn-close" @onclick="HideModal"></button>
                </ModalHeader>
                <ModalBody>
                    <Field>
                        <FieldLabel>Username</FieldLabel>
                        <input type="text" class="form-control mb-2" @bind="User.Username"/>
                        <ValidationMessage For="() => User.Username"/>
                    </Field>
                    <Field>
                        <FieldLabel>Tell others about yourself</FieldLabel>
                        <textarea class="form-control" Placeholder="..." @bind="User.AboutMe"></textarea>
                        <ValidationMessage For="() => User.AboutMe"/>
                    </Field>
                </ModalBody>
                <ModalFooter>
                    <button class="btn btn-secondary" @onclick="HideModal">Close</button>
                    <button class="btn btn-primary" type="submit" @onclick="HideModal">Update</button>
                </ModalFooter>
            </EditForm>
        </ModalContent>
    </Modal>
}
else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

@code {

    [Parameter]
    public int ProfileId { get; set; }

    private User? User { get; set; }

    protected override async Task OnParametersSetAsync() {
        User = await Repository.ReadGraphAsync(ProfileId);
    }

        private const long MaxFileSize = 1024 * 20000;
        private const int BufferSize = 1024 * 50000;
    private string[]? CurrentPath { get; set; }

    private async Task InputFile(InputFileChangeEventArgs e) {
        var ext = e.File.ContentType.Split("/");
        var newPath = $"wwwroot/images/users/{User?.Id}.{ext[1]}";

        if (CurrentPath?.Length > 0) {
            File.Delete(CurrentPath[0]);
        }

        await using FileStream fs = new(newPath, FileMode.Create);
        await e.File.OpenReadStream(MaxFileSize).CopyToAsync(destination: fs, bufferSize: BufferSize);
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }

    private async Task ChangeProfileData() {
        await Repository.UpdateAsync(User, CancellationToken.None);
    }

    // Modal
    private Modal profileModal;

    private Task ShowModal() {
        return profileModal.Show();
    }

    private Task HideModal() {
        return profileModal.Hide();
    }

    // Modal
    private IUserHandler _userHandler1;
}