﻿@page "/movies/{Tconst}"
@inject ITitleRepository _repository
@inject IListRepository _listRepository
@inject IRepository<Review> ReviewRepository
@inject IUserHandler UserHandler
@inject NavigationManager NavManager

@if (Title is not null) {
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <img src="@Title.Image" class="" alt="Table Setting" width="80%" height="100%" draggable="false">
                </div>
            </div>
            <div class="col">
                <div class="">
                    <h1 class="">@Title.Name</h1><br>
                    <div class="row">
                        <div>
                            <p class="fw-bold">
                                @Title.Description
                            </p>

                            @{
                                var query = Title.TitlesHasStaffs.GroupBy(staff => staff.Occupation,
                                    occupations => new {
                                        Key = occupations,
                                        Value = occupations.NconstNavigation.Name,
                                    });
                                int i;
                            }
                            @foreach (var occupation in query) {
                                i = 0;
                                <p>
                                    @occupation.Key
                                    <a>: </a>
                                    @foreach (var person in occupation) {
                                        @person.Value
                                        if (i < occupation.Count() - 1) {
                                            <a>, </a>
                                        }
                                        i++;
                                    }
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(UserHandler.User.Username))
                            {
                                if (ListEntry != null)
                                {
                                    switch (ListEntry.Status)
                                    {
                                        case "planned":
                                            <button type="button" class="btn btn-success" @onclick="async () => await UpdateEntryAsync()">set as completed</button>
                                            <button type="button" class="btn btn-danger" @onclick="async () => await RemoveEntryAsync()">remove from list</button>
                                            break;
                                        case "completed":
                                            <button type="button" class="btn btn-danger" @onclick="async () => await RemoveEntryAsync()">remove from list</button>
                                            break;
                                    }
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" @onclick="async () => await AddEntryAsync(isPlanned)">set as planned</button>
                                    <button type="button" class="btn btn-success" @onclick="async () => await AddEntryAsync(isCompleted)">set as completed</button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href = 'login'">set as planned</button>
                                <button type="button" class="btn btn-success"
                                        onclick="window.location.href = 'login'">set as completed</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <hr/>
                <h1 style="text-align: center; margin-bottom:35px;">
                    REVIEWS
                    @if (!string.IsNullOrEmpty(UserHandler.User.Username)) {
                        <button class="btn" @onclick="@ShowModal">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    }
                    else {
                        <button class="btn">
                            <a href="login">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </button>
                    }
                </h1>
            </div>
        </div>
        <div class="row mb-5">
            @foreach (var review in Title.Reviews) {
                <div class="col-4 my-2">
                    <div class="card">
                        <div class="card-header">
                            <span class="float-end"><i class="bi bi-star-fill text-warning me-1"></i>@review.Score / 10</span>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@review.Content</p>
                            </blockquote>
                        </div>
                        <div class="card-footer">
                            Review from <cite><a href="profile/@(review.UsersId)" class="text-decoration-none text-dark">@review.Users.Username</a></cite>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <Modal @ref="reviewModal">
        <ModalContent Centered>
            <EditForm Model="Review" OnSubmit="async () => await AddReviewAsync()">
                <ModalHeader>
                    <ModalTitle>Write a review</ModalTitle>
                    <button type="button" class="btn-close" @onclick="HideModal"></button>
                </ModalHeader>
                <ModalBody>
                    <Field>
                        <FieldLabel>Rating</FieldLabel>
                        <input type="number" class="form-control" min="1" max="10" @bind="Review.Score"/>
                        <ValidationMessage For="() => Review.Score"/>
                    </Field>
                    <Field>
                        <FieldLabel>Content</FieldLabel>
                        <textarea class="form-control" Placeholder="Your thoughts on @Title.Name ..." @bind="Review.Content"></textarea>
                        <ValidationMessage For="() => Review.Content"/>
                    </Field>
                </ModalBody>
                <ModalFooter>
                    <button class="btn btn-secondary" @onclick="HideModal">Close</button>
                    <button class="btn btn-primary" type="submit" @onclick="HideModal">Post review</button>
                </ModalFooter>
            </EditForm>
        </ModalContent>
    </Modal>
}
else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

@code {

    [Parameter]
    public string? Tconst { get; set; }

    private Title Title { get; set; }

    public Review Review { get; set; } = new();
    public UserHasList UserHasList { get; set; } = new();
    
    public UserHasList ListEntry { get; set; }
        public const string isPlanned = "planned";
        public const string isCompleted = "completed";
    
    public async Task AddReviewAsync() {
        await ReviewRepository.CreateAsync(Review, CancellationToken.None);
        Review = new();
        Review.Tconst = Title.Tconst;
        Review.UsersId = UserHandler.User.Id;
    }
    public async Task AddEntryAsync(string type)
    {
        UserHasList.Status = type;
        await _listRepository.CreateAsync(UserHasList,CancellationToken.None);
        
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
    public async Task UpdateEntryAsync() {
        UserHasList.Status = isCompleted;
        await _listRepository.UpdateAsync(UserHasList,CancellationToken.None);

        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
    public async Task RemoveEntryAsync()
    {
        await _listRepository.DeleteAsync(UserHasList,CancellationToken.None);
        
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }

    protected override async Task OnParametersSetAsync() {
        Title = await _repository.ReadTitleAsync(Tconst);
        Review.Tconst = Title.Tconst;
        Review.UsersId = UserHandler.User.Id;
        
        ListEntry = await _listRepository.ReadUserList(UserHandler.User.Id,Tconst);
        UserHasList.Tconst = Tconst;
        UserHasList.UsersId = UserHandler.User.Id;
    }

    // Modal
    private Modal reviewModal;

    private Task ShowModal() {
        return reviewModal.Show();
    }

    private Task HideModal() {
        return reviewModal.Hide();
    }
    // Modal
}