@page "/profile/{ProfileId:int}/userlist"
@inject IListRepository _repository
@inject IJSRuntime _js
@inject NavigationManager _uriHelper;

<style>
    img{
    object-fit: cover;
    }
</style>

@if (TitleList != null) {
    <div class="container start">
        <div class="row">
            <div class="form col-8">
                <input class="form-control" type="text" placeholder="Search..."
                       @onchange="s => OnUpdatePage(s.Value.ToString(), Filter, ListType)">
            </div>
            @if (ListType == "completed") {
                <div class="form col-2">
                    <select name="sort-criteria" class="form-select" @onchange="f => OnUpdatePage(Input, type: f.Value.ToString(), filter: Filter)">
                        <option selected="selected" value="completed">Watched</option>
                        <option value="planned">Planned</option>
                    </select>
                </div>
            }
            else {
                <div class="form col-2">
                    <select name="sort-criteria" class="form-select" @onchange="f => OnUpdatePage(Input, type: f.Value.ToString(), filter: Filter)">
                        <option value="completed">Watched</option>
                        <option selected="selected" value="planned">Planned</option>
                    </select>
                </div>
            }
            <div class="form col-2">
                <select name="sort-criteria" class="form-select" @onchange="f => OnUpdatePage(Input, f.Value.ToString(), ListType)">
                    <option value="score">Best Score</option>
                    <option value="popularity">Most Popular</option>
                    <option value="release">Latest</option>
                </select>
            </div>
        </div>
        <div class="row">
            @foreach (var element in TitleList) {
                <div class="col-4">
                    <div class="card mt-5 border-0" style="width: 25rem; cursor: pointer">
                        <img src="@element.TconstNavigation.Image" class="card-img-top" alt="..." style="height: 20rem">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="movies/@element.TconstNavigation.Tconst" class="text-decoration-none text-dark">
                                    @element.TconstNavigation.Name
                                </a>
                                <span class="float-end">
                                    @element.TconstNavigation.Rating.AvgScore <i class="bi bi-star-fill text-warning"></i>
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else {
    <div class="row">
        <div class="col">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public int ProfileId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "type")]
    public string ListType { get; set; }

    private int Start { get; set; }
    private int Page { get; set; }
        private const int Count = 9;
    private string? Input { get; set; }
    private string? Filter { get; set; }

    private List<UserHasList> TitleList { get; set; }

    protected override async Task OnParametersSetAsync() {
        TitleList = await _repository.ReadUserListAsync(ProfileId, ListType, Filter);
    }

    private async Task ToTheMoon() {
        await _js.InvokeVoidAsync("toTheMoon");
    }

    private async Task OnUpdatePage(string? input, string? filter, string? type) {
        Input = input;
        Filter = filter;

        if (type != null) {
            ListType = type;
            _uriHelper.NavigateTo(_uriHelper.Uri.Split("?")[0] + $"?type={type}");
        }

        if (input == null) {
            TitleList = await _repository.ReadUserListAsync(ProfileId, ListType, Filter);
        }
        else {
            TitleList = await _repository.SearchUserListAsync(ProfileId, ListType, Input, Filter);
        }
    }

}