﻿@page "/users"
@inject IUserRepository Repository
@inject IJSRuntime Js
@using Blazorise.Extensions

<style>
    .profilePic{
            display:grid;
            object-fit: cover;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            
        }
</style>

@if (_userList != null) {
    <div class="container start">
        <div class="row">
            <div class="form w-75 mb-5">
                <input class="form-control" type="text" placeholder="Search..."
                       @onchange="async (s) => {Start = 0;Page = 0;await OnUpdatePage(s.Value.ToString(), Filter);}">
            </div>
            <div class="form w-25">
                <select name="sort-criteria" class="form-select" @onchange="async (f) => {Start = 0;Page = 0;await OnUpdatePage(Input, f.Value.ToString());}">
                    <option>------------</option>
                    <option value="reviews">Most Reviews</option>
                    <option value="joined">Newest members</option>
                </select>
            </div>
        </div>
        <div class="row">
            @foreach (var user in _userList) {
                string[] currentPath = Directory.GetFiles("wwwroot/images/users/", user.Id + ".*");
                <div class="d-flex shadow mb-4 align-items-center" style="min-height: 200px; border-radius: .6rem">
                    <div class="flex-shrink-0 m-3">
                        @if (!Directory.GetFiles("wwwroot/images/users/", user.Id + ".*").IsNullOrEmpty()) {
                            <img src="@currentPath[0].Remove(0, 8)" class="card-img-top profilePic" alt="..." draggable="false">
                        }
                        else {
                            <img src="images/default-profile-picture.png" class="card-img-top profilePic" alt="..." draggable="false">
                        }
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <a href="profile/@user.Id" class="text-decoration-none text-dark">
                            <h3>@user.Username</h3>
                        </a>
                        <i class="float-end">joined at <b>@user.CreatedAt</b></i>
                        @if (user.AboutMe.IsNullOrEmpty()) {
                            <p class="text-white">.</p>
                        }
                        else {
                            <p>@user.AboutMe</p>
                        }
                        <i class="float-end">@user.Reviews.Count reviews posted</i>
                    </div>
                </div>
            }
        </div>
        <button class="my-3 d-inline bi bi-chevron-left btn"
                @onclick="async () => {Start -= 9;Page -= 1;await OnUpdatePage(Input, Filter);await ToTheMoon();}"
                disabled="@(Page == 0)">
        </button>
        <button class="my-3 bi bi-chevron-right float-end btn"
                @onclick="async () => {Start += 9;Page += 1;await OnUpdatePage(Input, Filter);await ToTheMoon();}"
                disabled="@(_userList.Count - Count < 0)">
        </button>
    </div>
}
else {
    <div class="row">
        <div class="col">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}

@code {
    List<User>? _userList;
    private int Start { get; set; }
    private int Page { get; set; }
        private const int Count = 9;
    private string? Input { get; set; }
    private string? Filter { get; set; }

    protected override async Task OnInitializedAsync() {
        _userList = await Repository.ReadPageAsync(Start, Count, Filter);
    }

    private async Task OnUpdatePage(string? input, string? filter) {
        Input = input;
        Filter = filter;
        if (input == null) {
            _userList = await Repository.ReadPageAsync(Start, Count, Filter);
        }
        else {
            _userList = await Repository.SearchUserAsync(Input, Start, Count, Filter);
        }
    }

    private async Task ToTheMoon() {
        await Js.InvokeVoidAsync("toTheMoon");
    }

}